/* ItemDetail.css */

/* Estilos para el contenedor del detalle del artículo */
.CardItem {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #ccc;
    background-color: #886060;
}

/* Estilos para el encabezado del artículo */
.Header {
    font-size: 1.5em;
    margin-bottom: 10px;
}

/* Estilos para la imagen del artículo */
.ItemImg {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

/* Estilos para la sección de información del artículo */
.Info {
    font-size: 1.2em;
    margin-bottom: 10px;
}

/* Estilos para el pie de página del artículo */
.ItemFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

/* Estilos para el enlace "Terminar compra" */
.Option {
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.Option:hover {
    background-color: #0056b3;
}

/* Estilos generales para botones */
.Button {
    background-color: #007bff;
    color: #1eb837;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 0 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.Button:hover {
    background-color: #0056b3;
}

.Button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
